page-signup {
    ion-content{  
    
        background-image: url(https://lh5.ggpht.com/7iEqEROoV-l8oHbpYAp1OjY9qJJjAsxAybza2hmDKT8BX-ZnvN2avBD6SfYAiKV67w=h900);
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGs0uVHTvXxBaiIoRVsRDyosfvp2NrNnAfJ4EzyggKDwdkdxnn);
        background-repeat: no-repeat;
         background-size:cover;
         display: block;
          margin-left: auto;
        margin-right: auto;
        }
}
